*.cproject
*.project
*.o
*.elf
*.d
*.conf
*.map
*.bin
*.settings
*.ld
*.a
*sdkconfig*
*ldgen_libraries
build/
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/workspace.code-workspace
cmake-build-debug/

